*.pyc
*.pyo
/src/fido/analysis.py
/src/build
/src/dist
/src/MANIFEST
/src/fmtinfo.csv
/fmtinfo.csv
*.py~
/build
/dist
*.~is
/.settings/org.eclipse.wst.sse.core.prefs
/.settings/org.eclipse.ltk.core.refactoring.prefs
/.externalToolBuilders/Pythont distutils bdist_msi.launch